html
  head
    title Control Knob Control Panel
    <link rel="stylesheet" href="../static/styles/style.css">
  body
    .outer
      .inner
        h1 Control Knob Control Panel
    .outer
      .inner
        .boxrow
          .box#serial
            h2.serial Arduino Communication
            p
              | To read the data sent by your Arduino you need to select the 
              | serial port your Arduino is using. Select the port from the 
              | list below.
            br
            form(method="post" action="/com")
              label Port:
              select(name="portSelect")
                each port in serialPorts
                  option(variable=port) #{port}
              input(type="submit", value="Select")

            span.status Selected port: #{serialPort}
          .box#spotify
            h2.spotify Spotify Volume
            p
              | To control the sound volume on Spotify using the Spotify web API 
              | you need to connect your Spotify account.
              | Click  
              a(href='/login') here
              |  to connect your account.
            br
            span.status Connected user:  #{user}
          .box#brightness
            h2.brightness Screen Brightness
            p
              | To control monitor brightness your monitor needs to support the
              | DDC/CI protocol. Also make sure it's enabled in your monitors 
              | settings.
              br
              br
              | Disclaimer: it might stutter if you're changing the brightness too
              | fast. It's either a DDC/CI or monitor limitation.
        .boxrow
          .box#schedule
            h2.schedule Schedule Brightness
            p
              | You can set brightness levels for different times of the day below.
            br
            form(method="post" action="/command")
              label Time:

              input(type="text", placeholder="hh:mm", required="required", autocomplete="off", name="commandTime")

              label Brightness:

              input(type="text", placeholder="0-100", required="required", autocomplete="off", name="commandValue")

              input(type="submit", value="Submit")

            each command, index in commands[0]
              div.commands
                span.command  <b>#{index+1}.</b> #{commands[0][index]} - #{commands[1][index]} % 
                a(href='/deletecommand?index=' + index, title="Remove scheduling")
          
